#example{
    cursor:pointer;
    float:left;
}

#pointer{
  cursor:pointer;
  position:relative;
  width:15px;
  height:15px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

  border-radius:10px;
  background:rgba(0,0,0,0);
}

#color_result{
    width:400px;
    height:400px;
    background:#000;
    float:left;
}
